.slider {
    width: 100%;
    height: calc(100vh - 70px);
    min-height: 500px;
    padding-top: 100px;
    position: relative;
    background-image: url(./../../public/img/slider/cover.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.body {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    top: 60px;
    position: absolute;
    color: #fff;
    font-family: font;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}
