/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/UI/CustomSelect/CustomSelect.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CustomSelect_select__kPqF5 {
  position: relative;
}

.CustomSelect_header__kOcAl {
  display: block;
}

.CustomSelect_selected__I8ww8 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: #252E37;
  border-radius: 8px;
  color: #fff;
  font-family: font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.CustomSelect_selected__I8ww8 span {
  margin-left: 7px;
  color: rgba(249, 249, 249, 0.4);
}

.CustomSelect_body__mvM84 {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: calc(100% + 7px);
  background-color: #252E37;
  border-radius: 8px;
  padding: 8px 0;
}

.CustomSelect_item__a5ljx {
  list-style: none;
  padding: 11px 24px;
  color: #fff;
  cursor: pointer;
}
.CustomSelect_item__a5ljx:hover {
  background-color: rgba(34, 34, 34, 0.7);
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Filter/Filter.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Filter_filter__LEVh_ {
  width: 100%;
  position: relative;
}

.Filter_content__1rdoA {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 16px;
  border-radius: 12px;
  background: rgba(197, 233, 242, 0.2);
}

.Filter_item__AYQ2s {
  margin: 6px 0;
  height: 44px;
  flex-grow: 1;
  padding: 0 8px;
}

.Filter_title__tWdtH {
  color: #101827;
  margin-bottom: 9px;
  font-family: font;
  font-size: 16px;
  font-weight: 600;
}

.Filter_send__YBSxm {
  width: 15.3846153846%;
  padding: 0 8px;
  flex-grow: 1;
}

.Filter_btn__Ec67N {
  width: 100%;
  height: 100%;
  background-color: #40B7D3;
  border: none;
  outline: none;
  border-radius: 8px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Destinations/Header/Header.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_destination_header__rIdbJ {
  width: 100%;
  height: 350px;
  margin-bottom: 70px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Destinations/Item/Item.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Item_item_list__7oI__ {
  margin-bottom: 24px;
  background: #f6f6f6;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 8px;
  padding: 16px;
}
.Item_item_list__7oI__:hover {
  border: 1px solid #40B7D3;
}

.Item_item__ETgP4 {
  height: 100%;
}
.Item_item__ETgP4 img {
  width: 40px;
}

.Item_title__Ngw70 {
  color: #101827;
  font-family: font;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  margin: 0;
}

.Item_date__HcMUc {
  color: #101827;
  font-family: font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.Item_date__HcMUc p {
  margin: 0;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Skeleton/Skeleteno.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Skeleteno_skeleton__l0dD8 {
  width: 100%;
  height: 15px;
  background: rgba(25, 33, 42, 0);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 0;
}

.Skeleteno_skeleton__l0dD8 .Skeleteno_square__ZZrt_ {
  height: 100%;
  border-radius: 5px;
  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: Skeleteno_wave-squares__JS0BB 2s infinite ease-out;
}

.Skeleteno_skeleton__l0dD8 .Skeleteno_line__X_nnP {
  height: 12px;
  margin-bottom: 6px;
  border-radius: 2px;
  background: rgba(130, 130, 130, 0.2);
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: Skeleteno_wave-lines__NB4_e 2s infinite ease-out;
}

.Skeleteno_skeleton-right__pTqZ1 {
  flex: 1 1;
  height: 100%;
}

.Skeleteno_skeleton-left__5jMGw {
  flex: 2 1;
  padding-right: 15px;
}

.Skeleteno_flex1__J_3NJ {
  flex: 1 1;
}

.Skeleteno_flex2__YR_e_ {
  flex: 2 1;
}

.Skeleteno_skeleton__l0dD8 .Skeleteno_line__X_nnP:last-child {
  margin-bottom: 0;
}

.Skeleteno_h8__OgAnC {
  height: 8px !important;
}

.Skeleteno_h10__ixg0s {
  height: 10px !important;
}

.Skeleteno_h12__7vzyo {
  height: 12px !important;
}

.Skeleteno_h15__F1sgc {
  height: 15px !important;
}

.Skeleteno_h17__N9Oqf {
  height: 17px !important;
}

.Skeleteno_h20__z9mrY {
  height: 20px !important;
}

.Skeleteno_h25__5aGSr {
  height: 25px !important;
}

.Skeleteno_w25__k7vkk {
  width: 25% !important;
}

.Skeleteno_w40__DdFEg {
  width: 40% !important;
}

.Skeleteno_w50__rH5nn {
  width: 50% !important;
}

.Skeleteno_w75__OguTb {
  width: 75% !important;
}

.Skeleteno_m10__ObGaY {
  margin-bottom: 10px !important;
}

.Skeleteno_circle__sxyvY {
  border-radius: 50% !important;
  height: 80px !important;
  width: 80px;
}

@keyframes Skeleteno_wave-lines__NB4_e {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
@keyframes Skeleteno_wave-squares__JS0BB {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Destinations/List/List.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.List_list__A9Jix {
  display: block;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Header/Navigation/Navigation.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_navigation__XPn3R {
  display: block;
  padding: 20px 0;
}

.Navigation_logo__LRX9_ {
  display: flex;
  font-family: "font";
  font-weight: 400;
  font-size: 26px;
  align-items: center;
  color: #fff;
}
.Navigation_logo__LRX9_ img {
  background-color: #fff;
}

.Navigation_list__5Ikgp {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.Navigation_item__RoRjd {
  list-style: none;
  margin: 0 15px 0 0;
}

.Navigation_link__KjA2e {
  padding: 7px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-family: font;
  font-weight: 500;
}

.Navigation_login__iF0y8 {
  padding: 12px 24px;
  display: block;
  font-size: 16px;
  color: #fff;
  font-family: font;
  font-weight: 500;
  background-color: #2B38D1;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Header/Header.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__1RJ5C {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(64, 183, 211, 0.2);
  z-index: 1;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/Destinations/Calendar/Calendar.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Calendar_calendar__ZIrDD {
  max-width: 800px;
}
