@font-face {
    font-family: font;
    src: url('./../public/fonts/font.ttf');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.react-datepicker {
    position: relative;
    background-color: transparent;

    &__month-container,
    &__time-container  {
        float: left;
    }

    &__time-container {
        overflow: auto;
    }

    &__time-list-item {
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #41b7d3;
        }
    }
    
    &__header {
        background-color: #41b7d3;
    }

    &__current-month {
        font-size: 16px;
        text-align: center;
    }

    &__day-names {
        display: flex;
    }

    &__day-name{
        width: 40px;
        text-align: center;
        font-size: 13px;
        font-family: font;
    }

    &__week {
        display: flex;
    }

    &__day {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        color: #000;
        border-radius: 50%;
        cursor: pointer;
        font-family: font;

        &--disabled {
            color: #cecece;
            cursor: default;
        }

        &--today {
            background-color: #cecece;
        }

        &--selected {
            background-color: black;
            color: #fff;
        }

        &--outside-month{
            color: #cecece;
        }
    }
}
