/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/UI/CustomSelect/CustomSelect.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CustomSelect_select__kPqF5 {
  position: relative;
}

.CustomSelect_header__kOcAl {
  display: block;
}

.CustomSelect_selected__I8ww8 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px;
  background-color: #252E37;
  border-radius: 8px;
  color: #fff;
  font-family: font;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.CustomSelect_selected__I8ww8 span {
  margin-left: 7px;
  color: rgba(249, 249, 249, 0.4);
}

.CustomSelect_body__mvM84 {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: calc(100% + 7px);
  background-color: #252E37;
  border-radius: 8px;
  padding: 8px 0;
}

.CustomSelect_item__a5ljx {
  list-style: none;
  padding: 11px 24px;
  color: #fff;
  cursor: pointer;
}
.CustomSelect_item__a5ljx:hover {
  background-color: rgba(34, 34, 34, 0.7);
}
