.topmenu {
    background-color: #e9cd98;
}

.list {
    display: flex;
    padding: 0;
    margin: 0;
}

.item {
    list-style: none;
    margin: 4px 30px 7px 0;
}

.link {
    padding: 7px 0;
    font-size: 13px;
    color: #000;
    text-decoration: none;
}

.contact {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}