.cars {
    display: block;
}

.list {
    display: flex;
    flex-direction: row;
}

.item {
    width: calc(100% / 3);
}

.cover {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}