.destinations {
    margin: 100px auto;
    width: calc(291px * 3);
}

.list {
    width: 100%;
    margin: 0 -12px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 291px;
    padding: 0 12px;
    flex-grow: 1;
    font-size: 16px;
    display: block;
    text-decoration: none;
}

.cover {
    height: 367px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-position: top;
    background-size: cover;
}

.from {
    color: #101827;
    font-size: 18px;
    font-weight: 500;
    font-family: font;
}

.to {
    color: rgba(#101827, .7);
    font-size: 16px;
    font-weight: 400;
    font-family: font;
}