.services {
    border-bottom: 1px solid #E5E8EC;
    padding: 50px 0;
}

.list {
    display: flex;
    justify-content: space-around;
}

.item {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: 16px;
}

.title {
    margin-bottom: 24px;
    text-align: center;
    color: #101827;
    font-family: font;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
}

.desc {
    margin: 0;
    text-align: center;
    color: rgba(#101827, .5);
    font-family: font;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}